@media (max-width: 460px) {
  .toolbar {
    padding: 0 10px;
  }

  .font-edit {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 30px;
  }

  .share-btn .editor-btn,
  .share-btn a {
    font-size: 1rem;
  }
}

@media (max-width: 530px) {
  .canvas-container {
    width: 90%;
  }
}

@media (max-width: 680px) {
  .canvas-container {
    margin: 6px;
  }
}

@media (min-width: 680px) {
  nav {
    flex-direction: row;
    position: relative;
    height: auto;
    transform: translateX(0%);
    background: transparent;
    z-index: 0;
  }

  header {
    margin: 9px 0;
    border-radius: 4em;
  }
  nav button {
    width: auto;
    margin-inline-start: 20px;
    border-radius: 4em;
    box-shadow: none; 
    padding: 3px 22px;
  }
  .gallery {
    margin: 10px;
  }

  .fa-times {
    display: none;
}

.fa-bars {
    display: none;
}

.about {
  margin: auto;
}
}

@media (min-width: 1040px) {
  .search-bar {
    margin-inline-start: 10px;
  }

  .editor {
    flex-direction: row;
  }
  .filter-bar{
    flex-direction: row;
  }
  .search-bar{
    margin-inline-start: 10px;
  }
}
