.gallery{
    background-color: rgba(56, 59, 66, 1);
    border-radius: 10px;
    padding: 15px;
    margin: 17px;
}

.gallery-img {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    width: 100%;
    cursor: pointer;
    transition: transform 0.4s;
    position: relative;
}

.gallery-img:hover{
    transform: scale(1.1);
    
}

.gallery-img img {
    display: block;
    width: 100%;
  }

.gallery input[type="file"]{
    display: none;
}

.images-container{
    padding: 30px 40px 10px;
    display: grid;
    align-items: center;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.file-input {
    background-color: #121212;
    color: white;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
}

.special-btn {
    background: var(--main-gradient);
    margin: auto;
    padding: 5px 22px;
    color: white;
    font-size: 1.098rem;
    box-shadow: var(--box-shadow);
    transition: transform 0.3s;
  }
  
  .special-btn:hover {
    transform: scale(1.1);
  }